<div  style="background-color:#445A63; padding:30px;">
  <div class="container">

    <h1 class="display-4 text-center" style="color:white">Comentarios</h1>
    <div class="my-3 p-3 bg-white rounded box-shadow">
      <h6 class="border-bottom border-gray pb-2 mb-0">Recientes</h6>
      <div class="media text-muted pt-3" ng-repeat="c in comentarios">
        <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@{{c.user}}</strong>
          {{c.descripcion}}
        </p>
      </div>


    </div>
    <div id="com" style="display:none">
      <h1 class="display-6" style="color:white">Deja un comentario</h1>
      <div class="input-group">
        <div class="input-group-prepend " >
          <span class="input-group-text" style="background-color: #445A63;color:white" >@{{user}}</span>
        </div>
        <textarea class="form-control" ng-model="comentario" aria-label="With textarea"></textarea>
        <button class="btn btn-primary" ng-click="comentar()" style="background-color: #FFBF43;">Comentar</button>
      </div>
    </div>

  </div>
</div>
